.navbar{
    position: fixed;
    background-color: #3D567F;
    width: -webkit-fill-available;
}

.back-intro{
background-image: url('../img/intro.png');
background-repeat: no-repeat;
background-size: cover;
height: 600px;
align-items: center;
text-align: center;
padding-top: 90px;
}

#first-title{
font-family: Playfair Display;
font-style: normal;
font-size: 44px;
line-height: 55px;
text-align: center;
color: #FFFFFF;
font-weight: 400;
}

.par{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    width: 60%;
    margin-left: 22%;
    text-align: center;
}
.container-intro{
    padding-top: 60px;
   
}

.btn-primary{
   background-color: #f85e76
}

.second-intro{
    background-color: #eeeeee;
height: 600px;
align-items: center;
text-align: center;
padding-top: 90px;
}