* {
  font-family: "Open Sans", sans-serif;
}

.text-success {
  margin-top: 25px !important;
  color: #355e7e !important;
}
.card {
  background-color: #efefef;
  border-color: #efefef;
}
#log {
  background-color: #f85e76 !important;
  border-color: #f85e76;
  margin-bottom: 15px;
  margin: auto;
  text-decoration-skip-ink: none;
}
#unete {
  margin: auto;
}
#btn {
  background-color: #f85e76 !important;
  border-color: #f85e76 !important;
}
#align {
  text-align: left !important;
}
#separate {
  padding-bottom: 20px;
}

.none {
  border-bottom: none;
}
